PUBLIC_GITHUB_REPO=https://github.com/jeby-228/mantra_API_frontend/
PUBLIC_GA4_MEASUREMENT_ID=G-XXXXXXXXXX
PUBLIC_API_BASE_URL=https://localhost:8080
PUBLIC_LINE_CHANNEL_ID=
PUBLIC_LINE_REDIRECT_URI=http://localhost:5173/auth/line/callback
